body {
	background-color:black;
}
h1 {
	font-family: "courier";
	font-size: 6em;
	font-weight: lighter;
	white-space: nowrap;
}

h3 {
	font-family: "courier";
	font-size: 2em;
	font-weight: lighter;
	white-space: nowrap;
}

button {
	margin: auto;
	height: 4em;
}

.center{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
	color:green;
}

.center_spacing{
	height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
	color:green;
}
