h1 {
	font-family: "courier";
	font-size: 4em;
	font-weight: lighter;
	white-space: nowrap;
}

button {
	margin: auto;
	height: 4em;
}

.center{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}