body {
	background-color:black;
}
h1 {
	font-family: "courier";
	font-size: 6em;
	font-weight: lighter;
	white-space: nowrap;
}

h3 {
	font-size: 2.5em;
	font-family: "courier";
	font-weight: lighter;
	white-space: nowrap;
}


.center{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
	color:green;
}

.center_spacing{
	height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
	color:green;
}

.footer{
	font-family: "courier";
	font-size: 2em;
	font-weight: lighter;
	white-space: nowrap;
	height: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color:green;
}
	

